@font-face {
  font-family: "BebasKai";
  src: url("../font/BebasKai.ttf") format("truetype");
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3 {
  font-family: "BebasKai";
  font-size: 3rem;
}

.yellowTitle {
  color: #ffc107;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
}

.icon {
  width: 1.6rem;
  margin-right: 0.5rem;
}

li {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

@media screen and (min-width: 320px) {
  body {
    margin: 0;
    padding: 0;
  }
  .feuille {
    margin: 0;
    padding: 0;
  }
  h1 {
    font-size: 3rem;
    margin: 0;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.2rem;
    margin: 0;
  }
  .headerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .headerContainer .title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerContainer .headerLogo {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .headerContainer .headerLogo .logo {
    display: flex;
    justify-content: center;
    max-width: 3rem;
  }
  main .aboutContainer {
    background-color: #27282e;
    color: white;
    border-top: solid 0.5rem #ffc107;
    border-bottom: solid 0.5rem #ffc107;
  }
  main .aboutContainer .content {
    margin: 1rem;
  }
  main .aboutContainer .content h2 {
    display: flex;
    justify-content: center;
  }
  main .aboutContainer .content p {
    display: flex;
    justify-content: center;
  }
  main .competencesContainer .content {
    margin: 1rem;
  }
  main .competencesContainer .content h2 {
    display: flex;
    justify-content: center;
  }
  main .competencesContainer .content .tables .front,
  main .competencesContainer .content .tables .back,
  main .competencesContainer .content .tables .other {
    margin: 1rem;
    border: solid 0.2rem #ffc107;
  }
  main .competencesContainer .content .tables .front .groups,
  main .competencesContainer .content .tables .back .groups,
  main .competencesContainer .content .tables .other .groups {
    display: flex;
    justify-content: space-around;
  }
  main .competencesContainer .content .tables .front h4,
  main .competencesContainer .content .tables .back h4,
  main .competencesContainer .content .tables .other h4 {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    text-decoration: underline;
  }
  main .diplomesContainer {
    background-color: #27282e;
    color: white;
    border-top: solid 0.5rem #ffc107;
    border-bottom: solid 0.5rem #ffc107;
  }
  main .diplomesContainer .diplome:not(:last-child) {
    border-bottom: solid 1px #ffc107;
  }
  main .diplomesContainer .content {
    width: 95%;
    margin: 0.5rem;
  }
  main .diplomesContainer .content h2 {
    display: flex;
    justify-content: center;
  }
  main .diplomesContainer .content .diplomeTitre {
    display: flex;
    justify-content: space-between;
  }
  main .diplomesContainer .content .diplomeTitre h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  main .diplomesContainer .content .diplomeTitre p {
    padding: 0;
  }
  main .experiencesContainer .content {
    width: 95%;
    margin: 0.5rem;
  }
  main .experiencesContainer .content h2 {
    display: flex;
    justify-content: center;
  }
  main .experiencesContainer .content .experience:not(:last-child) {
    border-bottom: solid 1px #ffc107;
  }
  main .experiencesContainer .content .experience {
    margin: 0.5rem;
  }
  main .experiencesContainer .content .experienceTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .experiencesContainer .content .experienceTitle h4 {
    margin: 0;
  }
  main .languesContainer {
    background-color: #27282e;
    color: white;
    border-top: solid 0.5rem #ffc107;
    border-bottom: solid 0.5rem #ffc107;
  }
  main .languesContainer .content {
    width: 95%;
    margin: 0.5rem;
  }
  main .languesContainer .content h2 {
    display: flex;
    justify-content: center;
  }
  main .languesContainer .content .langue {
    display: flex;
    justify-content: space-between;
  }
  main .languesContainer .content .hobbie {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1199px) {
  body {
    background: url(../img/fotor-ai-20240502174819.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  body .feuille {
    background-color: white;
    width: 65%;
    margin-left: 30vh;
    margin-top: 5vh;
    margin-bottom: 3vh;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  body .feuille .headerContainer {
    display: flex;
    justify-content: space-between;
  }
  body .feuille .headerContainer .avatar {
    width: 20%;
    height: auto;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-right: 3rem;
  }
  body .feuille .headerContainer .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 50%;
  }
  body .feuille .headerContainer .title h1 {
    font-size: 5.5rem;
    margin-bottom: 0;
  }
  body .feuille .headerContainer .title h3 {
    font-size: 1.5rem;
    font-style: italic;
    margin: 0;
  }
  body .feuille .headerContainer .headerLogo {
    width: 20vh;
    display: flex;
    background: linear-gradient(125deg, white 50%, #ffc107 50%);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  body .feuille .headerContainer .headerLogo .logo {
    max-width: 30%;
    height: auto;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
  body .feuille main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  body .feuille main .aboutContainer,
  body .feuille main .diplomesContainer,
  body .feuille main .languesContainer,
  body .feuille main .hobbiesContainer {
    width: 25%;
    background-color: #27282e;
    color: white;
  }
  body .feuille main .aboutContainer .content,
  body .feuille main .diplomesContainer .content,
  body .feuille main .languesContainer .content,
  body .feuille main .hobbiesContainer .content {
    width: 95%;
    margin: 0.5rem;
  }
  body .feuille main .competencesContainer,
  body .feuille main .experiencesContainer {
    width: 75%;
  }
  body .feuille main .competencesContainer {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
  }
  body .feuille main .competencesContainer h2 {
    display: flex;
    justify-content: center;
  }
  body .feuille main .competencesContainer .content {
    width: 90%;
    margin: 0 auto;
  }
  body .feuille main .competencesContainer .content .tables {
    width: 100%;
  }
  body .feuille main .competencesContainer .content .tables .front,
  body .feuille main .competencesContainer .content .tables .back,
  body .feuille main .competencesContainer .content .tables .other {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 2px #ffc107;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 12px;
  }
  body .feuille main .diplomesContainer {
    margin-bottom: 0;
    margin-top: -60px;
  }
  body .feuille main .diplomesContainer .diplome:not(:last-child) {
    border-bottom: solid 1px #ffc107;
  }
  body .feuille main .diplomesContainer .diplomeTitre {
    display: flex;
    justify-content: space-between;
  }
  body .feuille main .diplomesContainer .diplomeTitre h4 {
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  body .feuille main .experiencesContainer h2 {
    display: flex;
    justify-content: center;
  }
  body .feuille main .experiencesContainer .content {
    width: 90%;
    margin: 0 auto;
  }
  body .feuille main .experiencesContainer .content .experienceTitle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
  }
  body .feuille main .languesContainer {
    margin-top: -400px;
  }
  body .feuille main .languesContainer .content .langue {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  body .feuille main .languesContainer .content .langue p {
    margin-bottom: 0.5rem;
  }
  body .feuille main .languesContainer .content .hobbie {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
