@use "variables" as v;

@font-face {
  font-family: 'BebasKai';
  src: url('../font/BebasKai.ttf')format('truetype');
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'BebasKai';
  font-size: 2rem;
}
.yellowTitle{
  color: v.$color-yellow;
}
li {
  list-style-type: none;
}

@media screen and (max-width: v.$sm-breakpoint) {}

@media screen and (min-width: v.$sm-breakpoint) and (max-width: v.$md-breakpoint) {}

@media screen and (min-width: v.$lg-breakpoint) {
  body {
    background: url(../img/fotor-ai-20240502174819.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;

    .feuille {
      background-color: white;
      width: 60%;
      margin-left: 30vh;
      margin-top: 10vh;
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      
      .headerContainer {
        display: flex;
        justify-content: space-between;

        .avatar {
          max-width: 20%;
          height: auto;
          display: flex;
          align-items: end;
          justify-content: center;
          margin-right: 3rem;
        }

        .title {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: end;
          width: 50%;

          h1 {
            font-size: 7rem;
            margin-bottom: 0;
          }

          h3 {
            font-size: 2rem;
            margin: 0;
          }
        }

        .headerLogo {
          width: 20vh;
          display: flex;
          background: linear-gradient(125deg, white 50%, v.$color-yellow 50%);
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;

          .logo {
            max-width: 30%;
            height: auto;
            padding-right: 1rem;
            padding-bottom: 1rem;
          }

        }
      }
      main{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
.aboutContainer{
  background-color: v.$color-grey;
  color: white;
  width: 25%;
  .content{
    width: 95%;
    margin: 0.5rem;
    li{
      display: flex;
      align-items: center;
      margin: 0.5rem;
      .icon {
        width: 1.6rem;
        margin-right: 0.5rem;
      }
    }
  }
}
      }
    }
  }
}